[user]
	name = Matine Chabrier
	email = matine.chabrier@gmail.com
[color]
	branch = on
	diff = on
	interactive = on
	status = on
[credential]
	helper = osxkeychain
[core]
	excludesfile = ~/.gitignore
	editor = code --wait
[init]
	defaultBranch = main
[alias]
	gl = config --global -l
	ch = checkout
	chn = checkout -b
	pl = pull
	p = push
	po = push -u origin
	a = add -A
	c = commit
	cm = commit -m
	m = merge
	sh = stash
	shc = stash clear
	l = log
	ll = log --oneline
	last = log -1 HEAD --stat
	rv = remote -v
	d = diff
	dv = difftool -t vimdiff -y
	set = remote set-url origin
	rm = rm -r
	st = status -sb
	mn = checkout main
	dv = checkout develop
	del = branch -D
	b = branch
	delalldry = !git branch | grep -v \"develop\\|main\"
	delall = !git branch | grep -v \"develop\\|main\" | xargs git branch -D
